.App {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.search-bar {
  position: fixed;
  top: 0;
  height: 76px;
  width: 100%;
  border-bottom: 2px solid #e2e2e2;
  z-index: 10;
  background: #fff;
}

.search-bar-content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 61px;
  width: 100%;
  max-width: 1000px;
  padding-top: 15px;
  position: relative;
}

.search-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.camera {
  border-right: 1px solid gray;
  margin: 0 10px 0 0;
  padding: 0 10px;
  height: 27px;
  width: 50px;

}
.instagram-logo {
  margin: 7px 0 0 2%;
  width: 120px;
  cursor: pointer;
}